@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Figtree:ital,wght@0,300..900;1,300..900&family=Rowdies:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 0;
  font-family: "Figtree", sans-serif;
}

.container {
  display: flex;
  background-color: #e7e7e7;
}
.topbar {
  position: absolute;
  width: 100%;
  margin-left: 200px;
  height: 70px;
  background-color: #ffff;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.topbar i {
  color: #0a330d;
  font-size: 20px;
  cursor: pointer;
}

.sidebar {
  position: sticky;
  overflow-y: auto;
  width: 200px;
  height: 100%;
  background-color: #0a330d;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
}

.accueil {
  position: absolute;
  right: -5px;
  top: 90px;
  margin-left: 190px;
  padding: 20px;
  color: #fff;
  text-align: left;
  width: 100%;
}

.accueil ul {
  margin-top: 20px;
  border-top: 1px solid #fff;
}

.accueil ul p {
  margin-top: 10px;
  font-size: 10px;
  color: #fff;
  opacity: 50%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.accueil ul li {
  list-style-type: none;
  margin-bottom: 25px;
  scrollbar-width: auto;
}
.accueil ul li a {
  text-decoration: none;
  color: #fff;
}

.accueil ul li:hover {
  background-color: #60ad65;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  padding: 6px;
  border-radius: 5px;
  left: 0;
}
i {
  margin-right: 4px;
}

.para {
  margin-top: 25px;
}
.logo {
  margin-bottom: 10px;
}
.logo h1 {
  font-size: 25px;
}
.logo p {
  font-size: 12px;
  color: #fff;
  opacity: 50%;
}

.contenu {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  margin-top: 70px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#bells {
  justify-content: center;

  align-items: center;
  margin-left: 900px;
}

.profil {
  position: absolute;
  background-color: #60ad65;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-left: 1050px;
}

.contenu h3 {
  margin-top: 20px;
  font-size: 20px;
  color: #0a330d;
  position: absolute;
  margin-right: 1000px;
}

.charto {
  position: absolute;
  margin-top: 400px;
  width: 50%;
  height: 40%;
  margin-right: 600px;
}

.cards {
  display: flex;
  gap: 30px;
  margin-top: 100px;
  margin-right: 190px;
}
.card {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.5);
}

.card-content {
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #333333;
}

.card-content h3 {
  position: absolute;
  font-size: 20px;
  margin-left: 80px;
  margin-top: 10px;
  justify-content: center;
  color: black;
}

.card-content p {
  position: absolute;
  font-size: 12px;
  margin-left: 80px;
  margin-top: 40px;
}

.card-content i {
  position: absolute;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 20px;
}
.card-content p span {
  position: absolute;
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
  color: #60ad65;
  justify-content: center;
  width: 50px;
}
